*{
    padding: 0px;
    margin: 0px;
}
header{
    padding-left: 30px;
    font-family: 'Fredoka One', cursive;
    background: #2b4570;
    height: 100px;
    width: 97.8%;
    text-align: left;
    line-height: 100px;
    color:white;
    border-bottom: 3px solid black;
    font-size: xx-large;
}
#prueba{
    padding-left: 1030px;
    font-family: 'Fredoka One', cursive;
    background: #2b4570;
    text-align: right;
    color:white;
    font-size: xx-large;
}
section{
    padding-bottom: 90px;
    font-family: 'Patrick Hand', cursive;
    background: #a8d0db;
    text-align: center;
    padding-top: 90px;
    width: 100%;
    height: 263px
}
#bienvenida{
    font-size: 80px;
}
#descripcion{
    font-size: 40px;
}
#desicion{
    font-size: 30px;
}
.botones{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
.botones:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
footer{
    font-family: 'Fredoka One', cursive;
    border-top: 3px solid black;
    background: #7180ac;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color:white;
    font-size: xx-large;
}
.base{
    text-decoration: none;
    color:#ffffff
}